<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Hojas de estilos-->
    <link rel="stylesheet" href="../../../public/styles/root.css">
    <link rel="stylesheet" href="../../../public/styles/components.css">
    <link rel="stylesheet" href="../../../public/styles/header.css">

    <!--Favicon-->
    <link rel="shortcut icon" href="../../../public/icons/favicon.jpg" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <header>
        <ul>
            <li><img src="../../../public/icons/favicon.jpg" alt="Logo empresa"></li>
            <li><a href="../categories/">Categories</a></li>
            <li><a href="../meals/">Meals</a></li>
            <li><a href="#">Shopping Cart</a></li>
        </ul>
    </header>
</body>

</html>