<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Hojas de estilos-->
    <link rel="stylesheet" href="../../../public/styles/root.css">
    <link rel="stylesheet" href="../../../public/styles/components.css">
    <link rel="stylesheet" href="../../../public/styles/header.css">
    <link rel="stylesheet" href="../../../public/styles/footer.css">
    <link rel="stylesheet" href="../../../public/styles/fonts.css">
    <link rel="stylesheet" href="./style.css">

    <!-- Enviar emails - EmailJS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("5yWVXS-eYIt2VbjPj");
        })();
    </script>

    <!--Favicon-->
    <link rel="shortcut icon" href="../../../public/icons/favicon.jpg" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <header id="header">
        <nav>
            <ul>
                <li><img src="../../../public/img/logo.png" alt="Logo"></li>
                <div class="links">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../index.html#about">About</a></li>
                    <li><a href="../categories/">Categories</a></li>
                    <li><a href="../meals/">Meals</a></li>
                </div>
                <li id="carrito"><a href="../shoppingCart/"><img src="../../../public/icons/shoppingCart.svg"
                            alt=""><span id="itemsAmount"></span></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Carrito</h1>
        <div class="mainContent">
            <section id="contenedorDeItems"></section>
            <section id="resumenDeCompra" class="bxS-floating">
                <h2>Resumen de compra</h2>
                <span id="precioTotal"></span>
                <span id="precioTotalConIva"></span>
                <button id="pagar">Pagar compra</button>
            </section>
        </div>
    </main>

    <footer>
        <section>
            <h2>Location</h2>
            <ul>
                <li>Spain</li>
                <li>France</li>
                <li>UK</li>
                <li>Germany</li>
                <li>Italy</li>
            </ul>
        </section>
        <section>
            <h2>Contact</h2>
            <ul>
                <li>+34 12 3456 789</li>
                <li>tortarod@gmail.com</li>
                <li>etorrod1403@g.educaand.es</li>
            </ul>
        </section>
        <section>
            <h2>Our Service</h2>
            <ul>
                <li>Fast delivery</li>
                <li>Easy Payments</li>
                <li>24 x 7 Service</li>
            </ul>
        </section>
        <section>
            <h2>Follows</h2>
            <ul>
                <li><img src="../../../public/icons/facebook.svg" alt=""></li>
                <li><img src="../../../public/icons/instangram.svg" alt=""></li>
                <li><img src="../../../public/icons/twitter.svg" alt=""></li>
                <li><img src="../../../public/icons/youtube.svg" alt=""></li>
            </ul>
        </section>
    </footer>

    <script src="./app.js" type="module"></script>
    <script>
        const pagarBtn = document.getElementById('pagar');
        pagarBtn.addEventListener('click', e => procesarPago(e));

        function procesarPago(e) {
            e.preventDefault();

            let params = {
                user_email: 'eriktortarod@gmail.com',
                user_name: 'erikelmejro',
                purchase_summary: 'resumen de erik'
            }

            emailjs.send('service_41xoude', 'template_ywgv8ad', params)
                .then(function (response) {
                    alert('email enviado correctamente')
                }, function (erro) {
                    alert('error al enviar el formulario')
                });
        }
    </script>
</body>

</html>