<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Hojas de estilos-->
    <link rel="stylesheet" href="../../../public/styles/root.css">
    <link rel="stylesheet" href="../../../public/styles/components.css">
    <link rel="stylesheet" href="../../../public/styles/header.css">
    <link rel="stylesheet" href="../../../public/styles/footer.css">
    <link rel="stylesheet" href="../../../public/styles/fonts.css">
    <link rel="stylesheet" href="../../../public/styles/modalMeal.css">
    <link rel="stylesheet" href="./style.css">

    <!-- Enviar emails - EmailJS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("5yWVXS-eYIt2VbjPj");
        })();
    </script>

    <!--Favicon-->
    <link rel="shortcut icon" href="../../../public/icons/favicon.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <div id="header__menu__icon">
        <label for="menuIcon"><img src="../../../public/icons/menu.svg" alt=""></label>
        <input type="checkbox" name="menuIcon" id="menuIcon">
    </div>
    <header id="header">
        <nav>
            <ul>
                <li><a href="../../index.html"><img src="../../../public/img/logo.png" alt="Logo"></a></li>
                <div class="links">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../index.html#about">About</a></li>
                    <li><a href="../categories/">Categories</a></li>
                    <li><a href="../meals/">Meals</a></li>
                </div>
                <li id="carrito"><a href="../shoppingCart/"><img src="../../../public/icons/shoppingCart.svg"
                            alt=""><span id="itemsAmount"></span></a></li>
            </ul>
        </nav>
    </header>
    <button id="logout" class="btn-secondary">
        <img src="../../../public/icons/door.svg" alt="">
    </button>

    <main>
        <h1>Carrito</h1>
        <div class="mainContent">
            <section id="contenedorDeItems"></section>
            <section id="resumenDeCompra" class="bxS-floating">
                <h2>Order summary</h2>
                <div id="resumenPrecios">
                    <p class="textContainer">Number of items: <span id="numeroDeItems"></span></p>
                    <p class="textContainer">Subtotal: <span id="precioTotal"></span></p>
                    <p class="textContainer">Total (IVA incl.):<span id="precioTotalConIva"></span></p>
                </div>
                <button id="pagar">Pay order</button>
            </section>

        </div>
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <section class="modal__facturar__pago hidden">
            <div class="modal__content">
                <h2>Facturar pago</h2>
                <form id="facturarForm">
                    <input type="email" placeholder="Introduce tu email" required name="email">
                    <input type="submit" value="Enviar factura">
                </form>
                <button class="btn-close">&times;</button>
            </div>
        </section>

    </main>

    <footer>
        <section>
            <h2>Location</h2>
            <ul>
                <li>Spain</li>
                <li>France</li>
                <li>UK</li>
                <li>Germany</li>
                <li>Italy</li>
            </ul>
        </section>
        <section>
            <h2>Contact</h2>
            <ul>
                <li>+34 12 3456 789</li>
                <li>tortarod@gmail.com</li>
                <li>etorrod1403@g.educaand.es</li>
            </ul>
        </section>
        <section>
            <h2>Our Service</h2>
            <ul>
                <li>Fast delivery</li>
                <li>Easy Payments</li>
                <li>24 x 7 Service</li>
            </ul>
        </section>
        <section>
            <h2>Follows</h2>
            <ul>
                <li><img src="../../../public/icons/facebook.svg" alt="Icono Facebook"></li>
                <li><img src="../../../public/icons/instangram.svg" alt="Icono Instangram"></li>
                <li><img src="../../../public/icons/twitter.svg" alt="Icono Twiiter"></li>
                <li><img src="../../../public/icons/youtube.svg" alt="Icono Youtube"></li>
            </ul>
        </section>
    </footer>

    <script src="./app.js" type="module"></script>
    <script src="../../js/controllers/logout.js"></script>
</body>

</html>