<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/root.css">
    <link rel="stylesheet" href="../../../public/styles/components.css">
    <link rel="stylesheet" href="../../../public/styles/fonts.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="../../../public/icons/favicon.png" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <main>
        <img src="../../../public/img/logo.png" alt="Logo" id="logo">
        <form action="" name="loginForm" class="bxS-floating">
            <h1>Welcome back</h1>
            <p>Enter for the <span class="emphasis">best</span> recipes on the internet</p>
            <div class="step step-1 active">
                <input type="email" name="useremail" placeholder="email">
                <button type="button" class="next-btn btn-info">Next</button>
            </div>
            <div class="step step-2">
                <input type="password" name="userpassword" placeholder="password">
                <div class="buttons">
                    <button type="button" class="back-btn btn-info">Back</button>
                    <input type="submit" value="Login" class="btn-success">
                </div>
            </div>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </form>
        <section id="collage" class="collage"></section>
    </main>
    <script src="./app.js" type="module"></script>
</body>

</html>