<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Hojas de estilos-->
    <link rel="stylesheet" href="../../../public/styles/root.css">
    <link rel="stylesheet" href="../../../public/styles/components.css">
    <link rel="stylesheet" href="../../../public/styles/fonts.css">
    <link rel="stylesheet" href="./style.css">

    <!--Favicon-->
    <link rel="shortcut icon" href="../../../public/icons/favicon.jpg" type="image/x-icon">

    <title>Document</title>
</head>

<body>
    <main>
        <section class="bg-image bxS-floating">
            <img src="../../../public/icons/favicon.jpg" alt="Logo">
            <h1>Yummy Yammers</h1>
        </section>
        <section class="bxS-floating">
            <h2>Login</h2>

            <form action="" name="loginForm">
                <input type="email" name="useremail" placeholder="email">
                <input type="password" name="userpassword" placeholder="password">
                <input type="submit">
            </form>

        </section>
    </main>

    <script src="./app.js" type="module"></script>
</body>

</html>