#header {
    background: var(--base-100);
    box-shadow: 0px 10px 10px lightgray;
    padding: 0.5rem;
    position: fixed;
    width: 100vw;
    height: 6vw;
    top: 0;
    z-index: 9999;
    animation: toTheBottomAndStay 0.7s ease;
}

#header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-inline: 1.5rem;
}

#header ul .links {
    display: flex;
}

#header ul li {
    margin-inline: 1rem;
}

#header ul a {
    font-size: larger;
    color: var(--base-content);
}

#header ul li:first-of-type img {
    width: 30%;
}

#header ul #carrito {
    margin-left: auto;
}