<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Hojas de estilos-->
    <link rel="stylesheet" href="../../../public/styles/root.css">
    <link rel="stylesheet" href="../../../public/styles/components.css">
    <link rel="stylesheet" href="../../../public/styles/header.css">
    <link rel="stylesheet" href="../../../public/styles/footer.css">
    <link rel="stylesheet" href="../../../public/styles/fonts.css">
    <link rel="stylesheet" href="../../../public/styles/modalMeal.css">
    <link rel="stylesheet" href="./styles.css">

    <!--Favicon-->
    <link rel="shortcut icon" href="../../../public/icons/favicon.png" type="image/x-icon">

    <title>Meals</title>
</head>

<body>
    <div id="header__menu__icon" class="menu menu--mobile">
        <label for="menuIcon"><img src="../../../public/icons/menu.svg" alt=Icono menu""></label>
        <input type="checkbox" name="menuIcon" id="menuIcon">
    </div>
    <header id="header" class="header">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item header__item--logo"><a href="../../index.html"><img
                            src="../../../public/img/logo.png" alt="Logo"></a></li>
                <div class="links header__links">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../index.html#about">About</a></li>
                    <li><a href="../categories/">Categories</a></li>
                    <li><a href="../meals/">Meals</a></li>
                </div>
                <li id="carrito" class="header__item header__item--cart"><a href="../shoppingCart/"><img
                            src="../../../public/icons/shoppingCart.svg" alt="Icono carrito"><span
                            id="itemsAmount"></span></a></li>
            </ul>
        </nav>
    </header>
    <button id="logout" class="btn-secondary">
        <img src="../../../public/icons/door.svg" alt="Icono puerta">
    </button>

    <main class="main">
        <h1 class="main__title">Meals</h1>
        <section class="bxS-floating sortContainer">
            <label for="ordenarSelect">Ordenar</label>
            <select name="ordenarSelect" id="ordenarSelect">
                <option value="sin">Predeterminado</option>
                <option value="asc">De menor a mayor precio</option>
                <option value="desc">De mayor a menor precio</option>
            </select>
        </section>
        <section id="mealsContainer"></section>
        <div id="paginacion" class="bxS-floating"></div>
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </main>

    <footer class="footer">
        <section class="footer__section">
            <h2 class="footer__title">Location</h2>
            <ul class="footer__list">
                <li>Spain</li>
                <li>France</li>
                <li>UK</li>
                <li>Germany</li>
                <li>Italy</li>
            </ul>
        </section>
        <section class="footer__section">
            <h2 class="footer__title">Contact</h2>
            <ul class="footer__list">
                <li>+34 12 3456 789</li>
                <li>tortarod@gmail.com</li>
                <li>etorrod1403@g.educaand.es</li>
            </ul>
        </section>
        <section class="footer__section">
            <h2 class="footer__title">Our Service</h2>
            <ul class="footer__list">
                <li>Fast delivery</li>
                <li>Easy Payments</li>
                <li>24 x 7 Service</li>
            </ul>
        </section>
        <section class="footer__section">
            <h2 class="footer__title">Follows</h2>
            <ul class="footer__list">
                <li><img src="../../../public/icons/facebook.svg" alt="Link de: "> - <a href="">Facebook</a></li>
                <li><img src="../../../public/icons/instangram.svg" alt="Icono Link de: "> - <a href="">Instangram</a>
                </li>
                <li><img src="../../../public/icons/twitter.svg" alt="Link de: "> - <a href="">Twitter</a></li>
                <li><img src="../../../public/icons/youtube.svg" alt="Link de: "> - <a href="">Youtube</a></li>
            </ul>
        </section>
    </footer>

    <script src="./app.js" type="module"></script>
    <script src="../../js/controllers/logout.js"></script>
</body>

</html>