body {
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Capi';
    padding-top: 2rem;
    color: var(--base-content);
    position: relative;
    animation: toTheBottomAndStay 1s ease;
}

h1:hover::after {
    width: 20%;
}

h1::after {
    transition: all 0.5s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    background: var(--warning);
    width: 0%;
    height: 7px;
    border-radius: 16px;
}

#mealsContainer {
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#mealsContainer>article {
    border-radius: 8px;
    overflow: hidden;
    background: var(--base-200);
    min-height: fit-content;
    position: relative;
    animation: circleAnimation 2s;
}

@keyframes circleAnimation {
    from {
        clip-path: circle(1%);
    }

    to {
        clip-path: circle(100%);
    }
}

.mealCardBasicInfo {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.mealCardBasicInfo h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
}

#mealsContainer img {
    width: 100%;
}

.priceContainer {
    position: absolute;
    top: 3%;
    right: 4%;
    padding: 0.5rem 1rem;
    color: var(--base-100);
    font-weight: bold;
    border-radius: 4px;
    font-size: large;
    cursor: default;
}

.priceContainer:hover {
    background: var(--success);
}

/* Estilos para los tags en la tarjeta */
.tagsContainer {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-block: -0.5rem;
}

.tag {
    background: #bba;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}


/* Ajuste para el espacio entre los tags y los botones */
.btn-Container {
    margin-top: 0.5rem;
}

.modalShown {
    filter: blur(10px);
}

#paginacion {
    margin-top: 5rem;
    text-align: center;
    padding-inline: 10vw;
    background: var(--base-200);
    margin-inline: 5rem;
    padding: 1rem;
    border-radius: 16px;
}

.pag-btn {
    padding: 0.5rem;
    font-size: large;
    width: 2.5rem;
    border: none;
    border-radius: 4px;
    margin: 0.1rem;
    cursor: pointer;
}

.pag-btn-active {
    background: var(--success);
}

.pag-btn-active:hover {
    background: var(--success-focus);
}

label[for="ordenarSelect"] {
    margin-right: 1rem;
    font-weight: bolder;
    color: var(--primary-dark-color);
    font-size: 1.25rem;
}

#ordenarSelect {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--base-200);
    cursor: pointer;
}

.sortContainer {
    margin-bottom: 1rem;
    margin-left: 2rem;
    background: var(--base-300);
    width: fit-content;
    padding: 0.8rem 1.5rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
}